<section class="py-12">
    <div class="container xl:w-[85%]">
      <div class="title flex items-center gap-3 my-8 ">
        <div class="h-8 w-1.5 bg-linear-to-b from-emerald-500 to-emerald-700 rounded-full"></div>
        <h2 class=" text-gray-800 font-bold text-3xl">Featured <span class="text-emerald-600">Products</span></h2>
      </div>
      
      <div class="mt-5 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  xl:grid-cols-5 gap-4">

      @for (product of productList(); track product._id) {
        <div
          class="bg-white border border-gray-200 rounded-2xl p-4 shadow:sm hover:shadow-md transition-shadow duration-500 group font-sans"
        >
          <div class="relative overflow-hidden mb-4 p-4 ">
            <img
              [src]="product.imageCover"
              alt="product"
              class="w-full h-50 object-contain "
            />
                 <div class="absolute top-0 left-0">

                     @if (product.priceAfterDiscount) {
                <span class="bg-red-500 text-white text-xs font-bold px-2 py-1 rounded">
                {{ (product.price - product.priceAfterDiscount) / product.price | percent:'1.0-0' }} 
               </span>
                        }

             </div>

            <!--  ! ----------- Icons  Heart ! ----------- ....  -->
            <div class="absolute top-0 right-0 flex flex-col gap-2">
              <button 
              (click)="addProductItemToWishlist(product._id)"
                 aria-label="Add to wishlist"
                 
                class="w-10 h-10 cursor-pointer bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
              >
                <i class="far fa-heart">
                   
                </i>
              </button>

              <button
              aria-label="Compare products"
                class="w-10 h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
              >
                <i class="fas fa-sync-alt"></i>
              </button>

              <button

              [routerLink]="['/details' , product.slug ,product._id]"
              aria-label="Quick view"
                
                class="w-10 cursor-pointer h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>

          <div class="space-y-1">
            <p class="text-xs text-gray-400 tracking-wide"> {{product.category.name}}</p>
            <h3
              class="text-lg font-medium text-slate-800 hover:text-emerald-600 cursor-pointer transition-colors"
            >
            {{product.title}}
            </h3>

            <div class="flex items-center gap-1">
              <div class="flex text-yellow-400 cursor-pointer text-xs gap-0.5">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star text-gray-300"></i>
              </div>
              <span class="text-xs text-gray-400 font-medium">
                {{product.ratingsAverage}} ({{product.ratingsQuantity}})</span
              >
            </div>

            <div class="flex items-center justify-between pt-2">
              <div class="flex flex-col">
                <span class="text-lg font-bold text-slate-900"> {{product.price | currency: 'GBP' }} </span>
              </div>

              <button
              (click)="addProductItemToCart(product._id)"
              aria-label="Add product to cart"
                class="w-10 h-10 cursor-pointer bg-emerald-600 text-white rounded-lg flex items-center justify-center hover:bg-emerald-700 transition-colors shadow-sm active:scale-95"
              >
                
                @if (isLoading() === product._id) {<i class="fas fa-spinner animate-spin"></i>} 
                
                  @else {
                   <i class="fas fa-plus"></i> 
                }
              </button>
            </div>
          </div>
        </div>

      }
      </div>

    </div>
</section>