 
<!-- <section class="max-w-337.5 mx-auto p-6">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-6 bg-linear-to-br from-emerald-50 via-white to-teal-50 rounded-4xl p-4 md:p-8 shadow-[0_8px_30px_rgb(0,0,0,0.04)] border border-gray-100">
    
    <div class="lg:col-span-7 flex flex-col justify-center space-y-6 p-4">
      <div class="flex items-center gap-3">
        <div class="w-12 h-12 rounded-2xl bg-green-50 flex items-center justify-center text-green-600 border border-green-100">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
        </div>
        <div>
          <span class="block text-green-600 font-bold text-sm tracking-tight">NEWSLETTER</span>
          <span class="text-gray-400 text-xs">Join 50k+ happy customers</span>
        </div>
      </div>

      <h2 class="text-3xl lg:text-4xl font-bold text-gray-900 leading-snug">
        Get the Freshest Updates <span class="text-green-600">Delivered Free</span>
      </h2>

      <p class="text-gray-400 text-lg mt-3">
        Weekly recipes, seasonal offers and exclusive member perks.
      </p>

      <div class="flex flex-wrap gap-3">
        <div class="flex items-center gap-2.5 bg-white/80 backdrop-blur-sm border border-emerald-100 px-4 py-2.5 rounded-full shadow-sm">
          <div class="w-5 h-5 bg-emerald-100 rounded-full flex items-center justify-center"><svg data-prefix="fas" data-icon="leaf" class="svg-inline--fa fa-leaf text-emerald-600 text-xs" role="img" viewBox="0 0 512 512" aria-hidden="true"><path fill="currentColor" d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"></path></svg></div>
          <span class="text-sm font-medium text-gray-600">Fresh Picks Weekly</span>
        </div>
      <div class="flex items-center gap-2.5 bg-white/80 backdrop-blur-sm border border-emerald-100 px-4 py-2.5 rounded-full shadow-sm">
        <div class="w-5 h-5 bg-emerald-100 rounded-full flex items-center justify-center"><svg data-prefix="fas" data-icon="truck" class="svg-inline--fa fa-truck text-emerald-600 text-xs" role="img" viewBox="0 0 576 512" aria-hidden="true"><path fill="currentColor" d="M0 96C0 60.7 28.7 32 64 32l288 0c35.3 0 64 28.7 64 64l0 32 50.7 0c17 0 33.3 6.7 45.3 18.7L557.3 192c12 12 18.7 28.3 18.7 45.3L576 384c0 35.3-28.7 64-64 64l-3.3 0c-10.4 36.9-44.4 64-84.7 64s-74.2-27.1-84.7-64l-102.6 0c-10.4 36.9-44.4 64-84.7 64s-74.2-27.1-84.7-64L64 448c-35.3 0-64-28.7-64-64L0 96zM512 288l0-50.7-45.3-45.3-50.7 0 0 96 96 0zM192 424a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm232 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"></path></svg>
        </div>
        <span class="text-sm font-medium text-gray-600">Free Delivery Codes</span>
      </div>
        <div class="flex items-center gap-2.5 bg-white/80 backdrop-blur-sm border border-emerald-100 px-4 py-2.5 rounded-full shadow-sm">
          <div class="w-5 h-5 bg-emerald-100 rounded-full flex items-center justify-center"><svg data-prefix="fas" data-icon="tag" class="svg-inline--fa fa-tag text-emerald-600 text-xs" role="img" viewBox="0 0 512 512" aria-hidden="true"><path fill="currentColor" d="M32.5 96l0 149.5c0 17 6.7 33.3 18.7 45.3l192 192c25 25 65.5 25 90.5 0L483.2 333.3c25-25 25-65.5 0-90.5l-192-192C279.2 38.7 263 32 246 32L96.5 32c-35.3 0-64 28.7-64 64zm112 16a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"></path></svg>
          </div>
          <span class="text-sm font-medium text-gray-600">Members-Only Deals</span>
        </div>
    </div>

      <form class="flex flex-col sm:flex-row gap-3 max-w-lg">
        <input type="email" placeholder="Enter your email" class="flex-1 w-full pl-5 bg-gray-50 border border-gray-200 rounded-2xl px-6 py-4 outline-none focus:border-green-500 focus:ring-4 focus:ring-green-500/10 transition-all">
        <button  class="bg-green-600 hover:bg-green-700 text-white font-bold px-10 py-4 rounded-2xl transition-all hover:scale-[1.02] shadow-lg shadow-green-600/20 ">
          Subscribe <i class="fa-solid fa-arrow-right text-sm group-hover:translate-x-1 transition-transform "></i>
        </button>
      </form>

      <p class="text-sm text-gray-500">✨ Unsubscribe anytime. No spam, ever.</p>
    </div>

    <div class="lg:col-span-5 bg-linear-to-br from-gray-900 to-gray-900 to-gray-800 rounded-[1.8rem] p-8 md:p-10 flex flex-col justify-between relative overflow-hidden">
      <div class="absolute -top-24 -right-24 w-48 h-48 bg-green-500/10 blur-[80px]"></div>
      
      <div class="relative z-10">
        <span class="inline-block bg-emerald-500/20 text-emerald-400 border border-white/10  text-xs font-semibold px-4 py-1.5 rounded-full mb-6 uppercase tracking-widest">
         📱 Mobile App
        </span>
        <h3 class="text-2xl font-bold text-white mb-4">Shop Faster with Our Mobile App</h3>
        <p class="text-gray-400 mb-8 leading-relaxed">Exclusive deals and faster checkout at your fingertips.</p>
        
        <div class="space-y-4">
          <a href="#" class="flex items-center gap-4 bg-white/5 border border-white/10 p-4 rounded-2xl hover:bg-white/10 transition-all hover:scale-[1.02] group">
            <svg class="w-6 h-6 text-white text-lg" fill="currentColor" viewBox="0 0 24 24"><path d="M18.71 19.5c-.83 1.24-1.71 2.45-2.84 2.47-1.12.03-1.47-.65-2.94-.65-1.46 0-1.87.62-2.91.67-1.1.04-2.12-1.29-2.94-2.49-1.68-2.43-2.95-6.83-1.22-9.84.86-1.49 2.38-2.42 4.03-2.45 1.26-.03 2.44.85 3.21.85.77 0 2.21-1.07 3.73-.9 1.23.06 2.14.51 2.81 1.29-1.32.96-1.5 2.82-.14 3.93.99.8 2.29.6 3 0 .16.54.34 1.13.34 1.83.01.27.01.53.01.8.01 1.76-.1 3.52-.1 5.28zM15.42 2.72c-.77.94-2.02 1.62-3.32 1.54-.15-.02-.15-.02-.15-.17 0-.77.34-1.93 1.09-2.86C13.88.22 15.17 0 16.4 0c.03.02.03.02.03.04-.15.8-.35 1.82-1.01 2.68z"/></svg>
            <div class="text-left">
              <p class="text-2xs text-gray-400 font-bold uppercase">Download on</p>
              <p class="text-white font-semibold text-sm leading-none mt-1.5">App Store</p>
            </div>
          </a>
          <a href="#" class="flex items-center gap-4 bg-white/5 border border-white/10 p-4 rounded-2xl hover:bg-white/10 transition-all hover:scale-[1.02]">
            <svg class="w-6 h-6 text-white text-sm" fill="currentColor" viewBox="0 0 24 24"><path d="M3.609 1.814L13.792 12 3.61 22.186a2.238 2.238 0 0 1-.595-1.516V3.33a2.238 2.238 0 0 1 .595-1.516zM14.28 12.48l3.12 3.12 4.09-2.33a2.3 2.3 0 0 0 0-3.95l-4.09-2.33-3.12 3.12L14.28 12.48zM14.28 11.52l2.42-2.42L3.89 1.63a2.23 2.23 0 0 1 1.34.18l12.17 6.91-3.12 2.8zM14.28 13.44l-2.42 2.42 12.83 7.37c.39.22.84.32 1.34.18L3.89 16.48l3.12-2.8z"/></svg>
            <div>
              <p class="text-2xs text-gray-500 font-bold uppercase">Get it on</p>
              <p class="text-white font-semibold text-sm leading-none mt-1.5">Google Play</p>
            </div>
          </a>
        </div>
      </div>

      <div class="relative z-10 pt-6 mt-8 border-t border-white/5 flex items-center gap-3">
        <div class="flex text-yellow-500">★★★★★</div>
        <span class="text-gray-400 text-sm">4.9/5 Rating</span>
      </div>
    </div>

  </div>
</section> -->


<section class="bg-mint-bg py-6 px-4 mx-auto">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

      <div class="flex items-center gap-4">
        <div class="size-10 bg-green-soft rounded-2xl flex items-center justify-center text-green-brand">
          <i class="fa-solid fa-truck-fast text-2xl"></i>
        </div>
        <div>
          <h4 class="font-semibold text-gray-900 text-xs">Free Shipping</h4>
          <p class="text-gray-500 text-xs">On orders over 500 EGP</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div class="size-10 bg-green-soft rounded-2xl flex items-center justify-center text-green-brand">
          <i class="fa-solid fa-arrows-rotate text-2xl"></i>
        </div>
        <div>
          <h4 class="font-semibold text-gray-900 text-xs" >Easy Returns</h4>
          <p class="text-gray-500 text-xs">14-day return policy</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div class="size-10 bg-green-soft rounded-2xl flex items-center justify-center text-green-brand">
          <i class="fa-solid fa-shield-halved text-2xl"></i>
        </div>
        <div>
          <h4 class="font-semibold text-gray-900 text-xs"  >Secure Payment</h4>
          <p class="text-gray-500 text-xs">100% secure checkout</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div class="size-10 bg-green-soft rounded-2xl flex items-center justify-center text-green-brand">
          <i class="fa-solid fa-headset text-2xl"></i>
        </div>
        <div>
          <h4 class="font-semibold text-gray-900 text-xs">24/7 Support</h4>
          <p class="text-gray-500 text-xs">Contact us anytime</p>
        </div>
      </div>

    </div>
  </div>
</section>

 
<!-- Footer -->
 
 <footer class="bg-[#0b1522] text-gray-400 py-10 px-6 font-sans">
  <div class="max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[minmax(0,2fr)_repeat(4,1fr)] gap-8 mb-10"
    >
      <div class="lg:col-span-1">
        <div class="bg-white inline-block p-2 rounded-md mb-6">
          <img src="/assets/images/fresh-logo.svg" alt="FreshCart" class="h-8" />
        </div>
        <p class="text-sm leading-relaxed mb-6">
          FreshCart is your one-stop destination for quality products. From fashion to electronics,
          we bring you the best brands at competitive prices with a seamless shopping experience.
        </p>
        <ul class="space-y-3 text-sm">
          <li class="flex items-center gap-3">
            <i class="fas fa-phone text-emerald-500"></i>
            <span>01061600325</span>
          </li>
          <li class="flex items-center gap-3">
            <i class="fas fa-envelope text-emerald-500"></i>
            <span>support@freshcart.com</span>
          </li>
          <li class="flex items-center gap-3">
            <i class="fas fa-map-marker-alt text-emerald-500"></i>
            <span>Egypt ( fayoum City )</span>
          </li>
        </ul>

        <div class="flex gap-3 mt-8">
          <a
            routerLink=""
            class="w-10 h-10 rounded-full bg-slate-800 flex items-center justify-center hover:bg-emerald-600 transition-colors"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            
            class="w-10 h-10 rounded-full bg-slate-800 flex items-center justify-center hover:bg-emerald-600 transition-colors"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            
            class="w-10 h-10 rounded-full bg-slate-800 flex items-center justify-center hover:bg-emerald-600 transition-colors"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            
            class="w-10 h-10 rounded-full bg-slate-800 flex items-center justify-center hover:bg-emerald-600 transition-colors"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>

      <div>
        <h4 class="text-white font-bold mb-6">Shop</h4>
        <ul class="space-y-4 text-sm">
          <li><a routerLink="/shop" class="hover:text-emerald-500">All Products</a></li>
          
          <li><a routerLink="categories" class="hover:text-emerald-500">Categories</a></li>
          <li><a routerLink="brands" class="hover:text-emerald-500">Brands</a></li>
          <li><a  class="hover:text-emerald-500">Electronics</a></li>
          <li><a  class="hover:text-emerald-500">Men's Fashion</a></li>
          <li><a  class="hover:text-emerald-500">Women's Fashion</a></li>
        </ul>
      </div>

      <div>
        <h4 class="text-white font-bold mb-6">Account</h4>
        <ul class="space-y-4 text-sm">
          <li><a  class="hover:text-emerald-500">My Account</a></li>
          <li><a  class="hover:text-emerald-500">Order History</a></li>
          <li><a  class="hover:text-emerald-500">Wishlist</a></li>
          <li><a  class="hover:text-emerald-500">Shopping Cart</a></li>
          <li><a  class="hover:text-emerald-500">Sign In</a></li>
          <li><a  class="hover:text-emerald-500">Create Account</a></li>
        </ul>
      </div>

      <div>
        <h4 class="text-white font-bold mb-6">Support</h4>
        <ul class="space-y-4 text-sm">
          <li><a class="hover:text-emerald-500">Contact Us</a></li>
          <li><a class="hover:text-emerald-500">Help Center</a></li>
          <li><a class="hover:text-emerald-500">Shipping Info</a></li>
          <li><a class="hover:text-emerald-500">Returns & Refunds</a></li>
          <li><a class="hover:text-emerald-500">Track Order</a></li>
        </ul>
      </div>

      <div>
        <h4 class="text-white font-bold mb-6">Legal</h4>
        <ul class="space-y-4 text-sm">
          <li><a class="hover:text-emerald-500">Privacy Policy</a></li>
          <li><a class="hover:text-emerald-500">Terms of Service</a></li>
          <li><a class="hover:text-emerald-500">Cookie Policy</a></li>
        </ul>
      </div>
    </div>

    <div
      class="border-t border-slate-800 pt-8 flex flex-col md:flex-row justify-between items-center gap-4"
    >
      <p class="text-sm">© 2026 FreshCart. All rights reserved.</p>
      <div class="flex items-center gap-6 text-sm">
        <span class="flex items-center gap-2"><i class="fab fa-cc-visa text-xl"></i> Visa</span>
        <span class="flex items-center gap-2"
          ><i class="fab fa-cc-mastercard text-xl"></i> Mastercard</span
        >
        <span class="flex items-center gap-2"><i class="fab fa-cc-paypal text-xl"></i> PayPal</span>
      </div>
    </div>
  </div>
</footer>

